YOU ARE IN GRADES INDEX

<h1><%= @student.fullname %></h1>

<h3>Grades</h3>

<p>
  <ul>
    <% @grades.each do |grade| %>
      <li><%= link_to(grade[:name], dashboard_cohort_path(grade[:cohort_id]) )  %>: <%= grade[:grade] == 0 ? "Nothing yet!" : grade[:grade] %></li>
    <% end %>
  </ul>

</p>