<h1>Welcome, <%= current_user.fullname %></h1>

<% if @cohort.assignments.any? %>
  <% @cohort.assignments.each do |assignment| %>
      <p>
        <%= link_to(assignment.title, dashboard_cohort_assignment_path(@cohort.id, assignment.id) )  %>
      </p>
    <% end %>
  <% else %>
    <h3>No Assignments!</h3>
<% end %>

<%= link_to "Back", :back %>