<li>
  <%= link_to 'Cohorts', dashboard_cohorts_path, { class: "sidebar-brand"} %>  
</li>
<li>
  <%= link_to 'Grades', dashboard_grades_path, { class: "sidebar-brand"} %>  
</li>
<li>
  <%= link_to 'Profile', edit_student_registration_path, { class: "sidebar-brand"}  %>
</li>