<li>
  <%= link_to 'Cohorts', dashboard_cohorts_path, { class: "sidebar-brand"} %> 
</li>
<li>
  <%= link_to 'Students', dashboard_students_path, { class: "sidebar-brand"} %>  
</li>
<li>
  <%= link_to 'Profile', edit_teacher_registration_path, { class: "sidebar-brand"}  %>
</li>