<div class="jumbotron">
  <h1 class="display-4">Hello, Entrepreneurs!</h1>
  <p class="lead">Welcome to Trump University! You've just made the best decision of your life, coming to this page. This is literally the <strong>BEST</strong> page on the entire internet.</p>
  <hr class="my-4">
  <p>If you're not a millionaire by December 2009, you didn't attend my foreclosure workshop.</p>
  <p class="lead">
    <%= link_to "Learn More", new_student_registration_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Work With Us", new_teacher_registration_path, class: "btn btn-secondary float-right btn-lg" %>
  </p>
</div>