<h1>Welcome, <%= current_user.fullname %></h1>

<% @cohort.announcements.each do |announcement| %>
    <p>
      <%= link_to(announcement.title, dashboard_course_cohort_announcement_path(@cohort.course_id, @cohort.id, announcement.id) )  %>
    </p>
  <% end %>

<div>
  <%= link_to("New Announcement", new_dashboard_course_cohort_announcement_path(@cohort.course_id, @cohort) )  %>
</div>
<div>
  <%= link_to("Cohort Dashboard", dashboard_course_cohort_path(@cohort.course_id, @cohort.id) )  %>
</div>