<h1>Welcome, <%= @teacher.fullname %></h1>

<div class="row">
  <% @cohorts.each do |cohort| %>
  <div class="col-sm-6">    
    <h4><%= cohort.fullname %></h4>
    <h5>Your Students:</h5>
    <% cohort.students.each do |student| %>
      <p>
        <%= link_to(student.fullname, dashboard_cohort_student_path(cohort.id, student.id) )  %>
      </p>
    <% end %>
    <h5><%= link_to("Grading", dashboard_cohort_grades_path(cohort.id), class: "btn btn-dark" )  %></h5>
  </div>  
  <% end %>
</div>
